# Docker Compose configuration
# Defines a multi-container environment. Each service runs
# in its own isolated container but can communicate via networks
services:
  nginx:
    build:
      context: requirements/nginx/
      args:
        - CRED_PATH
        - CRED_CERT
        - CRED_KEY
        - COUNTRY
        - STATE
        - LOCALITY
        - ORGANIZATION
        - ORG_UNIT
        - COMMON_NAME
    container_name: nginx
    restart: on-failure
    depends_on:
      - wordpress
    networks:
      - inception
    ports:
      - "443:443"
    volumes:
      - v_web:/var/www/html
    healthcheck:
      test: ["CMD", "curl", "-f", "https://localhost"]
      interval: 5s
      timeout: 3s
      retries: 5
  wordpress:
    build: requirements/wordpress/
    container_name: wordpress
    restart: on-failure
    depends_on:
      mariadb:
        condition: service_healthy
    networks:
      - inception
    expose:
      - "9000"
    volumes:
      - v_web:/var/www/html
    env_file:
      - .env
    healthcheck:
      test: ["CMD", "php-fpm8.2", "-t"]
      interval: 5s
      timeout: 3s
      retries: 10
  mariadb:
    build: requirements/mariadb/
    container_name: mariadb
    restart: on-failure
    networks:
      - inception
    expose:
      - "3306"
    volumes:
      - v_db:/var/lib/mysql
    env_file:
      - .env
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 3s
      retries: 20
      start_period: 5s

volumes:
  v_web:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/mariaoli/data/wordpress
  v_db:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/mariaoli/data/mariadb

networks:
  inception:
    driver: bridge
